<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div class="alert alert-error">
      <ul class="unstyled">
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>
      番組名
      <%= f.text_field :name, required: "", maxlength: 20, placeholder: "番組名を入れて下さい" %>
    </label>
  </div>
  <div class="field">
    <label>
      番組の説明
      <%= f.text_area :description, rows: 3, maxlength: 100 %>
    </label>
  </div>
  <div class="actions">
    <%= f.submit "保存", class: "btn" %>
  </div>
<% end %>
