<h1>設定</h1>

<%= form_for(@user, url: {controller: :users, action: (@user.name.nil? ? "create" : "update")}, html: {class: "form-inline"}) do |f| %>
<label>
  ラジオネーム
  <%= f.text_field :name, placeholder: "名前を入れて下さい" %>
</label>
<%= f.submit "保存する", class: "btn" %>
<% end %>

<% if @user.name.nil? %>
<div class="alert alert-info">
  ラジオネームを保存すると番組を作れます
</div>
<% else %>
<%= link_to "チャンネルを作る", new_channel_path, class: "btn btn-primary" %>
<% end %>

<% unless @channels.nil? %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @channels.each do |channel| %>
  <tr>
    <td><%= channel.name %></td>
    <td><%= channel.description %></td>
    <td><%= link_to "編集", edit_channel_path(channel) %></td>
    <td><%= link_to "削除", channel, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
  </tr>
  <% end %>
</table>
<% end %>
