<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @channel.user %>
</p>

<p>
  <b>Name:</b>
  <%= @channel.name %>
</p>

<p>
  <b>Publish flag:</b>
  <%= @channel.publish_flag %>
</p>

<p>
  <b>Description:</b>
  <%= @channel.description %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
