<% content_for :head do %>
<%= render partial: "edit/head_menu" %>
<% end %>

<% unless notice.nil? %>
<div id="notice" class="alert alert-success">
  <%= notice %>
</div>
<% end %>

<h2>
  <%= @channel.name %>
</h2>

<div class="well">
  <%= @channel.description %>
</div>

<div>
  <%= link_to "番組設定を変更する", edit_channel_path(@channel), class: "btn" %>
  <%= link_to "番組の一覧に戻る", channels_path, class: "btn" %>
</div>

<br />

<div class="alert alert-info">
  番組内で語られる話題を作成して下さい。<br />
  作成した話題はランダムに選ばれ、音声で再生されます。
</div>

<div>
  <%= link_to "新しい話題を作る", new_topic_path({id: @channel.id}), class: "btn btn-primary" %>
</div>

<br />

<table class="table">
  <% @channel.topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= link_to " 編集", edit_topic_path(topic), class: "icon-pencil" %></td>
    <td><%= link_to " 削除", topic, method: :delete, data: {confirm: "本当に消しますか?"}, class: "icon-trash" %></td>
  </tr>
  <% end %>
</table>
