<% content_for :head do %>
<%= render partial: "head_menu" %>
<% end %>

<h1>
  あなたのFacebookから作った番組
  <%= image_tag "ajaxindicator.gif", style: "display:none;", id: "loadingimg" %>
</h1>

<p>
  <%= select_tag "", options_for_select(@channel_list), {id: "channel_selector", style: "display:none;"} %>
  <button href="#" id="play_btn" class="btn">
    <i class="icon-play-circle"></i>&nbsp;番組を聞く
  </button>
</p>

<div class="row">
  <div class="span5">
    <%= content_tag "audio", nil, {src: URI.encode("/voice?text=ようこそ#{@me.name}さん"), controls: true, autoplay: true} %>
    <pre class="prettyprint" id="textdisplay">
    </pre>
    <ul id="link_display" class="unstyled"></ul>
  </div>

  <div id="videoplayer" style="display:none;" class="span5">
    <div id="videoplayerTarget">
      Flash player 8+ と JavaScriptの有効化が必要でございますよ
    </div>
  </div>
</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
  google.load("swfobject", "2.2");
</script>

<%= javascript_include_tag "audio.min.js" %>
<script>
  if (!navigator.userAgent.match(/AppleWebKit/)) {
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
    alert('ごめんなさい. 現在Google ChromeとSafari以外のブラウザでは視聴できないです. もう少々お待ち下さい.');
  }
</script>
