<%= form_for([@channel, @topic]) do |f| %>
  <% if @topic.errors.any? %>
    <div class="alert alert-error">
      <ul class="unstyled">
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>
      見出し
      <%= f.text_field :name %>
    </label>
  </div>
  <div class="field">
    <label>お題</label>
    <label class="radio">
      <%= f.radio_button :target, "feed" %>
      あなたの投稿
    </label><br />
    <label class="radio">
      <%= f.radio_button :target, "home" %>
      友達の投稿
    </label><br />
    <label class="radio">
      <%= f.radio_button :target, "music" %>
      あなたの好きな音楽
    </label><br />
    <label class="radio">
      <%= f.radio_button :target, "free" %>
      自由な文章
      <%= f.text_area :target_text, rows: 3 %>
    </label>
  </div>
  <% unless @topic.id.nil? %>
  <%= render partial: "tracs/form", locals: {form: f} %>
  <% end %>
  <div class="actions">
    <%= f.submit "保存", class: "btn" %>
  </div>
<% end %>
