<%= form_for([@channel, @topic]) do |f| %>

  <%# TODO この辺りがうまく機能していない様子 %>
  <% if @topic.errors.any? %>
    <div class="alert alert-error">
      <ul class="unstyled">
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>
      見出し
      <%= f.text_field :name, required: "", maxlength: 20, placeholder: "見出しを入力して下さい" %>
    </label>
  </div>
  <div class="field" id="topic_targets">
    <label>お題</label>
    <% get_topic_target_choices(@topic).each do |item| %>
    <label class="radio">
      <%= f.radio_button :target, item[:value], required: "" %>
      <%= item[:label] %>
      <% if item[:value] == "free" %>
      <%= f.text_area :target_text, rows: 3, id: "topic_target_text" %>
      <% end %>
    </label>
    <% end %>
  </div>
  <% unless @topic.id.nil? %>
  <% unless @topic.errors.any? %>
  <% @topic.tracs.build %>
  <% end %>
  <%= render partial: "tracs/form", locals: {form: f} %>
  <% end %>
  <div class="actions">
    <%= f.submit "保存", class: "btn" %>
  </div>
<% end %>
