<p id="notice"><%= notice %></p>

<p>
  <b>Channel:</b>
  <%= @topic.channel %>
</p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Target:</b>
  <%= @topic.target %>
</p>

<p>
  <b>Target text:</b>
  <%= @topic.target_text %>
</p>

<p>
  <b>Order:</b>
  <%= @topic.order %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
