<div class="alert alert-info">
  お題の情報がFacebookから取得されるので話を膨らませて下さい。<br />
  言葉をバトンリレーしながら関連するニュースや動画につなげたり、尾ひれをつけたりしましょう。
</div>

<table id="trac_list" class="table table-bordered table-condensed table-bordered table-hover">
  <%= form.fields_for :tracs do |f| %>
  <tr>
    <td>
      <div class="row offset1">
        <label class="span3">
          <%= f.select :target, get_trac_target_choices(@topic), {}, class: "trac_target" %>
        </label>
        <div class="span2">&nbsp;&nbsp;&nbsp;を対象に</div>
        <label class="span3 trac_action">
          <%= f.select :action, get_trac_action_choices %>
        </label>
      </div>
      <div class="row well offset1">
        <label class="span3">
          <%= f.text_field :pre_content, placeholder: "頭にくっつける言葉" %>
        </label>
        <div class="span1">
          &nbsp;&nbsp;&nbsp;<i class="icon-comment"></i>
        </div>
        <label class="span3">
          <%= f.text_field :post_content, placeholder: "お尻にくっつける言葉" %>
        </label>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<button type="button" id="trac_append_btn" class="btn btn-primary">話を膨らませる</button>
<button type="button" id="cancel_trac_append_btn" class="btn btn-inverse">やっぱり膨らませない</button>
<br />
<br />
